.summary {
  margin: 25px 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: box-shadow 0.3s;
}

.summary:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.software-stack {
  margin-left: 20px;
}

.software-stack-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.technology {
  display: flex;
  align-items: center;
  transition: filter 0.3s;
}

.tech-icons {
  width: 30px;
}

.technology:hover {
  filter: invert(47%) sepia(73%) saturate(916%) hue-rotate(189deg) brightness(97%) contrast(97%);
}
